.btn {
      position: relative;
      display: inline-block;
      background-color: $color-gray;
      font-size: 15px;
      padding: 15px 30.5px 16px;
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 25px;
      transition: all .2s ease-in-out;
      &:hover {
            background-color: transparent;
            border: 2px solid $color-gray;
            color: $color-gray;
      }
      @include for-size( desktop ) {
            padding: 15px 30.5px 16px;
      }
}